body {
  margin: 0;
  text-align: center;
}

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  height: 100px;
  width: 100px;
  margin: auto;
}

#img-div {
  margin: auto;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.ship-div {
  width: 20%;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  border: 2px solid black;
  justify-content: center;
}

.ships-selector {
  margin: 38px;
  padding: 0;
}

.carrier-ship{
  height: 4.6vmin;
  width: 4.6vmin;
  background-color: gray;
}

.submarine-ship{
 height: 4.6vmin;
 width: 4.6vmin;
  background-color: gray;
}

.cruiser-ship{
  height: 150px;
  width: 50px;
  background-color: gray;
}

.destroyer-ship{
  height: 100px;
  width: 50px;
  background-color: gray;
}

.ship-computer-class {
  background-color: aliceblue;
  height: 50px;
  width: 50px;
  border: 3px solid black;
}
.ship-computer-class:hover {
  background-color: blue;
}

.rotateImgVertical {
  transform: rotate(90deg);
}

#define-board {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

#gameboard {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.battleship-grid {
  display: grid;
  margin: 2vmin;
  background-color: aquamarine;
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.battleship-div{

  border: 1px solid gray;
}

.standard-box:hover {
  background-color: blue;
}

.hit-class {
  background-color: black;
  height: 50px;
  width: 100px;
  border: 3px solid black;
}

.miss-class {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 3px solid black;
}
